% include('templates/header.tpl', title='Delete Quote')
<form action="/delete" method="post">
	<label for="name">Username:</label>
	{{username}}
	<input type="hidden" name="name" value="{{username}}" />
	<br />
	<label for="password">Password:</label>
	<input type="password" name="password" id="password">
	<br />
	<input type="submit" value="Delete">
	<input type="hidden" value="{{qID}}" />
</form>
% include('templates/footer.tpl')